@import '../../../styles/colors.scss';


* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container-register {
    height: 100vh;
    width: 100%;
    background-color: $sidebar-color;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
}

    .form-register {
        width: 50%;

        div {
            display: flex;
            flex-direction: column;
        }

        label {
            padding: 10px;
            margin-top: 10px;
            color: $main-font-color;
        }

        input {
            background-color: transparent;
            border: 1px solid #fff;
            border-radius: 10px;
            width: 100%;
            height: 5vh;
            padding: 20px;
            margin-bottom: 5px;
            color: white;
            transition: .5s;

            &:focus {
                scale: 1.03;
                transition: .5s;
                box-shadow: 0px 0px 15px -10px rgba(255,255,255,1);
            }
        }

        .input-error {
            border-color: $error-color;
        }

        p {
            padding: 5px;
            margin-left: 5px;
            color: $error-color
        }

        .div-register-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 10px;
            margin-bottom: 20px;
        }
    }

    .btn-register-submit {
        width: 100px;
        height: 40px;
        margin: 50px;
        border-radius: 10px;
        border: none;
        background-color: transparent;
        color: $third-font-color;
        border: 1px solid $main-font-color;
        transition: .3s;

        &:hover {
            cursor: pointer;
            color: $main-font-color;
            transition: .3s;
            background-color: $third-font-color;
        }
    }

    button:disabled {
        opacity: 0.35;

        &:hover {
            cursor: not-allowed;
            background-color: transparent;
            color: $third-font-color;
        }
    }