@import '../../../styles/colors.scss';


* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container-register {
    height: 100vh;
    width: 100%;
    background-color: $sidebar-color;
    display: grid;
    place-content: center;
}

.card-register {
    width: 40vw;
    height: 80vh;
    background-color: $login-card-color;
    border-radius: 5%;
    box-shadow: 0px 0px 15px -10px rgba(255,255,255,1);
    display: flex;
    flex-direction: column;
    padding: 20px;

    .form-register {
        flex: 100%;
        background-color: aqua;
        
    }
}

