.container {
    width: 100%;
    height: 100%;
    display: flex;

    @media screen and (max-width: 940px) {
        flex-direction: column;
    }


    .calendar {
        width: 100%;
        height: 100vh;
        padding: 30px;

        ::-webkit-scrollbar {
            width: .5rem;
            background: #fff;
        }
        
        
        ::-webkit-scrollbar-thumb {
            border-radius: 15px;
            background: rgba($color: #000, $alpha: 0.2);
        }
    }
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}