@import '../../../styles/colors.scss';

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container-main {
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.title {
    width: 100vw;
    height: 110vh;
    background-color: $sidebar-color;
    display: flex;
    flex: wrap;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    .navbar {
        position: fixed;
        width: 100vw;
        height: 10vh;
        background-color: rgba($sidebar-hover-color, $alpha: 0.5);
        box-shadow: 0px 2px 10px rgba($color: #000000, $alpha: 0.1);
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .btn-login {
            width: 75px;
            height: 40px;
            margin: 50px;
            border-radius: 10px;
            border: none;
            background-color: transparent;
            color: $third-font-color;
            border: 1px solid $main-font-color;
            transition: .3s;

            &:hover {
                cursor: pointer;
                color: $main-font-color;
                transition: .3s;
                background-color: $third-font-color;
            }
        }

    }
    
    .title-h1 {
        font-size: 8rem;
        color: $main-font-color;
        margin-top: 15%;
        cursor: pointer;
    }

    .wrapper-title-paragraph {
        width: 100vw;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 5%;
    }

    .title-paragraph {
        font-size: 1.1rem;
        color: $secondary-font-color;
    }
}

.presentation {
    width: 100vw;
    height: 90vh;
    background-color: $sidebar-hover-color;
    display: flex;
    justify-content: space-around;

    .presentation-left-div {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .presentation-paragraph {
        padding: 8%;
        font-size: 1.2rem;
        color: $secondary-font-color;
    }

    .presentation-right-div {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}

.presentation-2 {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $sidebar-color;

    .presentation-2-left-div {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .presentation-2-right-div {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .presentation-2-paragraph {
        padding: 8%;
        font-size: 1.2rem;
        color: $secondary-font-color;
    }
}


.footer {
    width: 100%;
    height: 4%;
    background-color: $sidebar-hover-color;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .footer-p-name {
        margin: 20px;
    }

    .footer-p-contact {
        margin: 20px;
        margin-right: 30px;
    }

    p {
        color: $secondary-font-color;
        transition: .3s;

        &:hover {
            cursor: pointer;
            color: $main-font-color;
            transition: .3s;
        }
    }
}

body {
    overflow-x: hidden;
}