$gray-main-color: #898989;
$gray-lighter-main-color: #e5e5e5;
$red-main-color: #f64348;
    
$sidebar-color: #2f4050;
$sidebar-hover-color: #293846;
    
$black-dark-color: #1f1f1f;
$gray-dark-color: #343434;
$ligher-gray-dark-color: #404040;
    
$main-font-color: rgba(#FFF, 0.96);
$secondary-font-color: rgba(#FFF, 0.67);
$third-font-color: rgba(#FFF, 0.45);

$login-card-color: #263340;

$error-color: #fc8181;