@import './colors.scss';

* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;

    .routes {
        width: 100%;
        height: 100%;
        padding: 30px;
    }
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}